**/*.d.ts
packages/**/dist/**/*
packages/**/public/**/*
packages/**/coverage/**/*
packages/**/fixtures/**/*
node_modules
# TODO Disable examples, we want to include it.
public/**/*
examples/**/static/**/*
examples/**/dist/**/*
examples/**/OidcTrustedDomains.js
examples/**/OidcServiceWorker.js
scripts/**/*
.github
.changeset
vite.config.js