# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

pool:
  vmImage: 'Ubuntu 16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '8.x'
  displayName: 'Install Node.js'
  
- script: |
    npm install
    npm run bootstrap
  displayName: 'npm install and bootstrap'

- script: |
    npm test -- --coverage
    npm run lint
  displayName: 'npm test and lint'

- script: |
    git config --global user.email "build-ci@axa.fr"
    git config --global user.name "Build-CI"
    git reset --hard 
    git remote set-url origin https://$(Github.Token)@github.com/AxaGuilDEv/react-oidc.git 
    git checkout $(Build.SourceBranchName) && cp .npmrc.template .npmrc
    npm run publish -- $(Npm.Publish.Version) --yes --concurrency 1 --force-publish --registry registry.npmjs.org/:_authToken=$(NPM_TOKEN)
  displayName: 'lerna publish'
  condition: and(succeeded(), ne(variables['Npm.Publish.Version'], 'none'))

  